<html>
    <head>
        <meta charset="utf-8">
          <title>Wine and Cheese Party</title>
            <!-- <link rel="stylesheet" href="style.css"> -->
    </head>


    <body data-ng-app="cwApp">
<div data-ng-controller="AuthController as globalAuth" data-ng-init="globalAuth.getUsername()">

  <p data-ng-if="globalAuth.username">Hello: {{globalAuth.username}}! Not {{globalAuth.username}}?: <a href data-ng-click="globalAuth.logout()">Logout</a></p>
  <main data-ng-view></main>
</div>

        <script type="text/javascript" src="/bundle.js" charset="utf-8"></script>
    </body>
</html>
